<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tracker for habits{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'habits/css/style.css' %}">
</head>

<body>

<nav>
    <div class="nav-name">
        <a href="{% url 'habit_list' %}">🌱 HabitTracker</a>
    </div>
    <div class="nav-links">
        {% if user.is_authenticated %}
            <a href="{% url 'habit_list' %}">My Habits</a>
            <a href="{% url 'add_habit' %}">+ Add Habit</a>
            <span class="nav-username">👤 {{ user.username }}</span>
            <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="nav-logout">Log Out</button>
            </form>
        {% else %}
        <div class="buttons">
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'register' %}">Register</a>
        </div>
        {% endif %}
    </div>
</nav>

<main>
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>Built with Django 🌿</p>
</footer>

</body>
</html>