{% extends 'base.html' %}

{% block title %} Log in {% endblock %}

{% block content %}
<div>
    <h1>Log In</h1>

    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <div class="errors">
                Invalid username or password.
            </div>
        {% endif %}

        <div class="form-container">
            <label>Username</label>
            {{ form.username }}
        </div>

        <div class="form-container">
            <label>Password</label>
            {{ form.password }}
        </div>

        <div class="buttons">
            <button type="submit">Log In</button>
            <a href="{% url 'register' %}">Register here</a>
            <p>Don't have an account? Register first!</p>
        </div>

    </form>

</div>
{% endblock %}